<form id="invite-user-form">
    <div class="setup-tips-container {{#unless is_admin}}hide{{/unless}}"></div>
    {{#if development_environment}}
    <div class="alert" id="dev_env_msg"></div>
    {{/if}}
    {{#if (not user_has_email_set) }}
    <div class="tip">
        {{#tr}}
            You must <z-link>configure your email</z-link> to access this feature.
            {{#*inline "z-link"}}<a href="/help/demo-organizations#configure-email-for-demo-organization-owner" target="_blank" rel="noopener noreferrer">{{> @partial-block }}</a>{{/inline}}
        {{/tr}}
    </div>
    {{else if (not can_subscribe_other_users)}}
    <div class="invite-stream-notice">
        {{#tr}}The users you invite will be automatically added to <z-link>default channels</z-link> for this organization, as you do not have permission to configure which channels new users join.
        {{#*inline "z-link"}}<a target="_blank" rel="noopener noreferrer" href="#organization/default-channels-list">{{> @partial-block}}</a>{{/inline}}
        {{/tr}}
    </div>
    {{/if}}
    <div class="input-group">
        <div id="invite_users_option_tabs_container" class="new-style"></div>
        <div id="invitee_emails_container">
            <label for="invitee_emails" class="modal-field-label">{{t "Emails (one on each line or comma-separated)" }}</label>
            <textarea rows="8" id="invitee_emails" class='invitee_emails' name="invitee_emails" placeholder="{{t 'One or more email addresses...' }}"></textarea>
        </div>
    </div>
    <div class="input-group new-style" id="invite_multiple_container">
        <label class="checkbox display-block">
            <input type="checkbox" id="invite_multiple" checked/>
            <span></span>
            {{t "Invite multiple users." }}
        </label>
    </div>
    <div class="input-group">
        <label for="invite_as" class="modal-field-label">{{t "Users join as" }}
            {{> help_link_widget link="/help/roles-and-permissions" }}
        </label>
        <select id="invite_as" class="invite-user-select modal_select bootstrap-focus-style">
            <option name="invite_as" selected="selected" value="{{ invite_as_options.guest.code }}">{{t "Guests" }}</option>
            <option name="invite_as" value="{{ invite_as_options.member.code }}">{{t "Members" }}</option>
            {{#if is_admin}}
            <option name="invite_as" value="{{ invite_as_options.moderator.code }}">{{t "Moderators" }}</option>
            <option name="invite_as" value="{{ invite_as_options.admin.code }}">{{t "Administrators" }}</option>
            {{/if}}
            {{#if is_owner}}
            <option name="invite_as" value="{{ invite_as_options.owner.code }}">{{t "Owners" }}</option>
            {{/if}}
        </select>
    </div>
    {{#if can_subscribe_other_users}}
    <div>
        <label>{{t "Channels they should join" }}</label>
        <div id="streams_to_add">
            {{#if show_select_default_streams_option}}
            <div class="select_default_streams new-style">
                <label class="checkbox display-block modal-field-label">
                    <input type="checkbox" id="invite_select_default_streams" checked="checked" />
                    <span></span>
                    {{t 'Default channels for this organization'}}
                </label>
            </div>
            {{/if}}
            <div id="invite_streams_container" class="add_streams_container">
                <div class="pill-container stream_picker">
                    <div class="input" contenteditable="true"
                      data-placeholder="{{t 'Channels' }}">
                        {{~! Squash whitespace so that placeholder is displayed when empty. ~}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</form>
